:root {
  --primary-color: #092d87;
  --hover-color: #061f61;
  --white-color: #fff;
  --footer-bg: #343a40;
  --font-base: 'Quicksand', sans-serif;
  --shadow-light: 0 4px 20px rgba(0, 0, 0, 0.08);
  --shadow-hover: 0 6px 30px rgba(0, 0, 0, 0.1);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #f8f9fa;
  font-family: var(--font-base);
  margin-top: 3rem;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--primary-color);
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar .nav-link {
  font-weight: 600;
  color: var(--white-color);
  transition: color 0.3s ease;
  padding: 0.7rem 1rem;
}

.navbar .nav-link:hover, .navbar .nav-link.active {
  color: #ec9830;
}

.dropdown-menu {
  background-color: #f8f9fa;
  border: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.dropdown-menu .dropdown-item {
  color: var(--primary-color);
  font-weight: 500;
  transition: background-color 0.2s ease;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #e6e6e6;
  color: #000;
}

.about-section {
  border-radius: 1rem;
  padding: 4rem 2rem;
}

.about-section h2 {
  color: var(--primary-color);
  font-weight: 700;
}

.about-section p {
  font-size: 1.1rem;
  line-height: 1.7;
  max-width: 800px;
  margin: 0 auto 1.5rem;
}

.team-member {
  box-shadow: var(--shadow-light);
  transition: box-shadow 0.3s ease-in-out;
}

.team-member:hover {
  box-shadow: var(--shadow-hover);
}

.team-member 
{
  padding: 1rem;
}

.card-body {
  padding: 1rem;
}

.team-member h5 {
  font-weight: 700;
  color: var(--primary-color);
}

.team-member p {
  font-size: 1rem;
  color: #777;
}

.custom-text {
  color: var(--primary-color);
  font-weight: 700;
}

footer {
  background-color: var(--footer-bg);
  color: var(--white-color);
  padding: 1.5rem 0;
}

footer p {
  font-size: 0.9rem;
}

footer a {
  color: var(--white-color);
  transition: color 0.3s ease;
}

footer a:hover {
  color: #ec9830;
}

.mobile-search-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

@media (min-width: 992px) {
  .mobile-search-container {
    display: none !important;
  }

  .navbar-brand {
    margin-right: 3rem;
  }

  .navbar-nav.left-links .nav-item {
    margin-right: 1rem;
    margin-bottom: 0;
  }

  .navbar-nav.right-items .nav-item {
    margin-bottom: 0;
  }

  .search-form .form-control {
    width: 180px;
    margin-right: 1rem;
  }

  .navbar-nav.right-items {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
}

#mobileSearch {
  background-color: var(--primary-color);
}

#mobileSearch .form-control {
  width: 100%;
  margin-bottom: 0.5rem;
}

#mobileSearch .btn {
  border-color: var(--white-color);
  color: var(--white-color);
}

@media (min-width: 992px) {
  .navbar-nav.left-links .nav-item {
    margin-right: 1rem;
  }
}
